.proj-sidenav {
  float: left;
  margin-top: 60px;
  width: 15%;
  height: 100%;
  /* border: double; */
  border-width: 5px;
  position: fixed;
  background-image: url(./images/d1.JPG);
}

.proj-main {
  float: left;
  margin-top: 60px;
  margin-left: 15%;
  width: 85%;
  /* border: double; */
  height: 1000px;
}

.proj-sidenav a {
  margin: 10px 10px;
  padding: 25px 30px;
  background-color: white;
  text-align: center;
  display: block;
  border-radius: 10px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.proj-sidenav a:hover {
  background-color: rgb(136, 136, 136);
  transition: 0.8s;
}
/* ################################################# */
.proj-main-row1 {
  height: 180%;
  /* border: solid; */
  /* border-color: red; */
  padding-left: 1%;
  padding-right: 1%;
}

.proj-main-row1-left {
  float: left;
  width: 60%;
  /* border: double;
  border-color: blue; */
  height: 90%;
  padding: 0px 10px;
  font-size: 30px;
}

/* .proj-main-row1-left img {
  float: left;
  width: 100%;
  padding: 0px 22%;
} */

.proj-main-row1-right {
  float: left;
  width: 40%;
  /* border: solid; */
  /* border-color: green; */
  height: 90%;
  padding: 0px 10px;
  font-size: 23px;
}
/* ################################################# */
.proj-main-row2 {
  height: 1220px;
  /* border: solid;
  border-color: red; */
  padding-left: 1%;
  padding-right: 1%;
}

.proj-main-row2-left {
  float: left;
  width: 60%;
  /* border: double;
  border-color: blue; */
  height: 90%;
  padding: 0px 10px;
  font-size: 20px;
}

.proj-main-row2-right {
  float: left;
  width: 40%;
  /* border: solid;
  border-color: green; */
  height: 90%;
  padding: 0px 10px;
  font-size: 23px;
}
/* ################################################# */
.proj-main-row3 {
  height: 970px;
  /* border: solid;
  border-color: red; */
  padding-left: 1%;
  padding-right: 1%;
}

.proj-main-row3-left {
  float: left;
  width: 60%;
  /* border: double;
  border-color: blue; */
  height: 90%;
  padding: 0px 10px;
  font-size: 20px;
}

.proj-main-row3-right {
  float: left;
  width: 40%;
  /* border: solid;
  border-color: green; */
  height: 90%;
  padding: 0px 5%;
  font-size: 23px;
}

/* ################################################# */
.proj-main-row4 {
  height: 1050px;
  /* border: solid;
  border-color: red; */
  padding-left: 1%;
  padding-right: 1%;
}

.proj-main-row4-left {
  float: left;
  width: 60%;
  /* border: double;
  border-color: blue; */
  height: 90%;
  padding: 0px 10px;
  font-size: 23px;
}

.proj-main-row4-right {
  float: left;
  width: 40%;
  /* border: solid;
  border-color: green; */
  height: 90%;
  padding: 0px 5%;
  font-size: 23px;
}

.proj-main-row4-right table {
  font-family: arial, sans-serif;
  width: 100%;
  border: 1px solid black;
}

td,
th {
  text-align: center;
  padding: 8px;
  border: 1px solid black;
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* ################################################# */
.proj-main-row5 {
  height: 700px;
  /* border: solid;
  border-color: red; */
  padding-left: 1%;
  padding-right: 1%;
}

.proj-main-row5-left {
  float: left;
  width: 100%;
  /* border: double;
  border-color: blue; */
  height: 90%;
  padding: 0px 10px;
  font-size: 23px;
}

/* ################################################# */
.proj-main-row6 {
  height: 1050px;
  /* border: solid;
  border-color: red; */
  padding-left: 1%;
  padding-right: 1%;
}

.proj-main-row6-left {
  float: left;
  width: 60%;
  /* border: double;
  border-color: blue; */
  height: 90%;
  padding: 0px 10px;
  font-size: 20px;
}

.proj-main-row6-right {
  float: left;
  width: 40%;
  /* border: solid;
  border-color: green; */
  height: 90%;
  padding: 0px 5%;
  font-size: 23px;
}
