.left-col-out-contact {
  float: left;
  width: 50%;
  height: 500px;
  background-image: url("./images/d1.JPG");
  background-attachment: fixed;
  margin-left: 25%;
  margin-top: 90px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  border-radius: 10px;
}

.inside-left-col-contact {
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 350px;
  padding-left: 2%;
}

.inside-left-col-contact p {
  font-size: 22px;
}

.inside-left-col-contact a {
  font-size: 22px;
  color: rgb(0, 0, 187);
}
